*, 
*::before, 
*::after¨{
    box-sizing: border-box;
}

:root{
    --font-principal: "Josefin Sans", sans-serif; 
    --font-secundaria: "Merriweather", serif; 

    --pes-font: 300; 
    --pes-negreta: 600; 

    --colorClar:  #d6eaf8;
    --colorFosc:   #5dade2; 
    --colorResaltar:  #176392; 
    --colorlletres: #000; 

    --tamany-h1: 3rem;
    --tamany-h2: 2,25rem; 
    --tamany-h3: 3,5rem; 
    --tamany-h4: 1,25rem; 


}

@media (min-widht:880px) {
    :root{
        --tamany-h1: 4,5rem; 
        --tamany-h2: 3,75rem; 
        --tamany-h3: 3,5rem; 
        --tamany-body: 1,25rem; 

        --sombra: 0.25 0.25 0.75 rgba(0, 0, 0, 0.25)
    }

}

strong{
    font-weight: var(--pes-negreta);
}


body{
    background: var(--colorClar); 
    color: var(--colorlletres); 
    margin: 0; 
    font-family: var(--font-principal);
    font-size: var(--tamany-body);
    line-height: 1,6; 
}
section{
    padding: 5rem 2rem;
}

img{
    display: block;
    max-width: 100%;
}
h1,
h2,
h3 {
    line-height: 1,1;
    margin: 0;
}
h1{
    font-size: var(--tamany-h1);
}

h2{
    font-size: var(--tamany-h2);
}

h3{
    font-size: var(--tamany-h3);
}

.titol {
    margin-bottom: 0.25;
}

.titol-intro{
    font-weight: var(--pes-font);
}

.subtítol{
    margin: 0;
    font-size: var(--tamany-h3);
}

.subtítol-intro, 
.subtítol-about{
    background: var(--colorFosc);
    font-family: var(--font-secundaria);
    margin-bottom: 2rem; 
}

.titol-intro strong {
    display: block;
}

.intro {
    position: relative;
}
@media(min-width: 600px) {
    .intro{
        display: grid;
        margin: auto;
        width: min-content;
        grid-column-gap: 1em;
        display: grid;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative; 
        z-index: 2;
    
    }
    .subtitol-intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right; 
        position: relative; 
        left: -1.5em;
        width: calc(100% + 1,5em);
        z-index: 4;
    }
}

.intro-img{
    box-shadow: var(--sombra);
}

.subtitol-intro{
    display: inline-block;
}






















